{{#each people}}
  <div class="c-slice">
    <div class="c-slice__inner-wrapper">

      <div class="c-slice__image-and-name-wrapper">
        <div class="c-slice__image-wrapper">
          <img class="c-slice__image-element" src="{{ image }}">
        </div>
        <h2 class="c-slice__name">{{ name }}</h2>
      </div>

      <p class="c-slice__body">
        {{{getRandomTemplate}}}
      </p>

      <p class="c-slice__body">
        {{!-- In the past month, this post scored {{article.views}} page views, which is more than enough to shake a stick at. --}}

        {{!-- This post got {{article.views}} views just this month. Daaaaaaaaaang. --}}

        {{!-- Just this month, this post racked up {{article.views}} views, which has got to be some sort of high score. --}}

        {{!-- This post got {{article.views}} hits this month. I can barely even count that high. --}}

        This post accumulated <strong>{{prettyNum article.views}} well-deserved views.</strong> Bravo!

        {{!-- This post got {{article.views}} views. Just this month. Holy moly. --}}

        {{!-- This post racked up {{article.views}} views just this month. It deserved every last one. --}}

        {{!-- Just this month, this post scored {{article.views}} views. Somebody get Ellen on the phone. --}}

        {{!-- Just this month, this post got {{article.views}} hits. <a href="https://www.youtube.com/watch?v=rQnYi3z56RE">Nooice!</a> --}}
        </p>

    </div>
  </div>
{{/each}}
