{{#each people}}
  <div class="c-slice">
    <div class="c-slice__inner-wrapper">

      <div class="c-slice__image-and-name-wrapper">
        <div class="c-slice__image-wrapper">
          <img class="c-slice__image-element" src="{{ image }}">
        </div>
        <h2 class="c-slice__name">{{ firstName }} {{ lastName }}</h2>
      </div>

      <p class="c-slice__body">
        {{ firstName }} wrote <a href="{{ article.url }}">{{ article.title }}</a>, which scored <strong>{{ prettyNum article.views }} views</strong> in the past month. <strong>{{ randomExclamation }}</strong>
      </p>

      <p class="c-slice__body"></p>

    </div>
  </div>
{{/each}}
