{{#each people}}
  <div class="c-slice">
    <div class="c-slice__inner-wrapper">

      <div class="c-slice__image-and-name-wrapper">
        <div class="c-slice__image-wrapper">
          <img class="c-slice__image-element" src="{{ image }}" alt="Flattering portrait of {{ name }}">
        </div>
        <h2 class="c-slice__name">{{ name }}</h2>
      </div>

      {{#addToContext}}
        <p class="c-slice__body">
          <strong>won hearts</strong> and <strong>changed minds</strong> by
          writing <a href="{{article.url}}">{{article.title}}</a>.
        </p>

        <p class="c-slice__body">
          In the past month, this post scored
          {{addCommas article.views}} page views,
          which is <strong>more than enough to shake a stick at.</strong>
        </p>
      {{/addToContext}}

    </div>
  </div>
{{/each}}
