<div>
  {{#each items}}
    <div class="c-slice">
      <div class="c-slice__inner-wrapper">

        <div class="c-slice__image-and-name-wrapper">
          <div class="c-slice__image-wrapper">
            <img class="c-slice__image-element" src="{{ author.photo }}">
          </div>
          <h2 class="c-slice__name">{{ author.firstName }} {{ author.lastName }}</h2>
        </div>

        <p class="c-slice__body">
          {{ author.firstName }} wrote <a href="{{ url }}">{{ title }}</a>, which scored <strong>{{ prettyNum views }} views</strong> in just the past week. <strong>{{ randomExclamation }}</strong>
        </p>

        <p class="c-slice__body"></p>

      </div>
    </div>
  {{/each}}

</div>
